/* css input checkbox khi click vào có màu xanh  */

/* input[type=checkbox] {
    position: relative;
    appearance: none;
    height: 18px;
    width: 18px;
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    transform: rotate(-90deg);
}

input[type=checkbox]:checked {
    border-color: var(--primary-color);
    transform: rotate(0deg);
    transition: transform .15s linear;
} */