.ms-icon {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 16px center;
    padding-left: 40px;
    padding-right: 16px;
    text-align: left;
}

.ms-icon-search {
    background-image: url(../../assets/icon/search.png);
}

.ms-icon-add {
    background-image: url(../../assets/icon/add.png);
}


/* Icon file */

.m-icon {
    background-image: url(../../assets/icon/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
}


/* icon menu */

.m-icon-menu {
    background-position: -424px -86px;
}


.m-icon-msb {
    background-position: -917px -1694px;
    width: 55px;
	height: 32px;
}


/* icon item navigation */

.navigation-content .navigation-item:focus .m-icon-item-1 {
    background-position: -30px -1585px !important;
}

.m-icon-item-1 {
    background-position: -30px -1628px;
}

.navigation-content .navigation-item:focus .m-icon-item-2 {
    background-position: -73px -1585px !important;
}

.m-icon-item-2 {
    background-position: -73px -1628px;
}

.navigation-content .navigation-item:focus .m-icon-item-3 {
    background-position: -117px -1585px !important;
}

.m-icon-item-3 {
    background-position: -117px -1628px;
}

.navigation-content .navigation-item:focus .m-icon-item-4 {
    background-position: -161px -1585px !important;
}

.m-icon-item-4 {
    background-position: -161px -1628px;
}

.navigation-content .navigation-item:focus .m-icon-item-5 {
    background-position: -204px -1585px !important;
}

.m-icon-item-5 {
    background-position: -204px -1628px;
}

.navigation-content .navigation-item:focus .m-icon-item-6 {
    background-position: -249px -1585px !important;
}

.m-icon-item-6 {
    background-position: -249px -1628px;
}

.navigation-content .navigation-item:focus .m-icon-item-7 {
    background-position: -291px -1585px !important;
}

.m-icon-item-7 {
    background-position: -291px -1628px;
}

.navigation-content .navigation-item:focus .m-icon-item-8 {
    background-position: -336px -1585px !important;
}

.m-icon-item-8 {
    background-position: -336px -1628px;
}

.navigation-content .navigation-item:focus .m-icon-item-9 {
    background-position: -378px -1587px !important;
}

.m-icon-item-9 {
    background-position: -378px -1630px;
}

.navigation-content .navigation-item:focus .m-icon-item-10 {
    background-position: -423px -1587px !important;
}

.m-icon-item-10 {
    background-position: -423px -1630px;
}

.navigation-content .navigation-item:focus .m-icon-item-11 {
    background-position: -467px -1585px !important;
}

.m-icon-item-11 {
    background-position: -467px -1628px;
}

.navigation-content .navigation-item:focus .m-icon-item-12 {
    background-position: -510px -1585px !important;
}

.m-icon-item-12 {
    background-position: -510px -1628px;
}

.navigation-content .navigation-item:focus .m-icon-item-13 {
    background-position: -423px -1659px !important;
}

.m-icon-item-13 {
    background-position: -378px -1659px;
}

.navigation-content .navigation-item:focus .m-icon-item-14 {
    background-position: -547px -1585px !important;
}

.m-icon-item-14 {
    background-position: -547px -1628px;
}

.navigation-content .navigation-item:focus .m-icon-item-15 {
    background-position: -248px -1664px !important;
}

.m-icon-item-15 {
    background-position: -204px -1664px;
}


/*========================= icon header =============================*/


/* icon vietinbank */

.m-icon-vietinbank {
    background-position:  -33px -1705px;
    width: 85px;
	height: 23px;
}



/* icon toggle */

.m-icon-toggle {
    background-position: -843px -30px;
    
}


/* icon notify */

.m-icon-notify {
    background-position: -786px -30px;
    width: 25px;
	height: 25px;
    cursor: pointer;
}


/* icon img */

.m-icon-img {
    background-position: -352px -895px;
}


/* icon down */

.m-icon-down {
    background-position: -1129px -365px;
    width: 14px;
	height: 8px;
}

.m-icon-more {
    background-position: -568px -30px;
    width: 24px;
	height: 24px;
}

/* ===========================Icon filter của phần content=================================================== */

.m-icon-load {
    background-position: -418px -201px;
}

.m-icon-load:hover {
    background-position: -1091px -87px;
}


/*=========================== ICON INPUT =============================== */


/* icon search */

.m-icon-input {
    background-position: -992px -360px;
}


/* icon checkbox */

input[type=checkbox]:checked.m-icon-checkbox {
    background-image: url(../../assets/icon/Sprites.64af8f61.svg);
    background-position: -1224px -360px;
}


/* ============================ICON CUA DIALOG=========================================== */

.m-icon-help {
    background-position: -89px -144px;
    width: 22px;
    height: 22px;
}

.m-icon-close {
    background-position: -144px -144px;
}


/* icon down delete */

.m-icon-down-delete {
    background-position: -892px -360px;
}


/* icon combobox */

.m-icon-dropdown {
    background-position: -553px -352px;
}


/* icon cảnh báo khi xóa */

.m-icon-warning {
    background-position: -1136px -467px;
    margin-top: 16px;
    height: 30px;
    width: 30px;
    padding: 20px;
}


/* icon select */

.m-icon-dropdown-select {
    background-position: -560px -359px;
}