/* dialog thông báo xóa */

.m-popup {
    display: none;
}

.modal-popup {
    z-index: 100000000000000000000000000000000 !important;
}

.popup {
    position: absolute;
    background-color: #fff;
    z-index: 20001111111111111111;
    width: 444px !important;
    top: calc(50% - 150px) !important;
    left: calc(50% - 222px) !important;
    border-radius: 4px;
    padding-top: 30px;
    border: 1px solid #d9dadd;
}

.icon-warning {
    width: 48px;
    height: 48px;
}

.popup-content {
    padding: 16px 32px 0 32px;
}

.popup-content div:first-child {
    display: flex;
}

.popup-content .messenger-warning {
    width: 350px;
    height: 36px;
    padding: 12px 0 0 16px;
    margin-bottom: 32px;
}

.popup-content .mess-line {
    margin-bottom: 20px;
}


/* phần bottom popup */

.popup-bottom {
    position: relative;
    height: 57px;
    padding-top: 12px;
    background-color: rgba(235, 233, 233, 0.5);
}

.popup-bottom,
.popup-bottom>div {
    display: flex;
}

.popup-bottom .popup-bot-right {
    position: absolute;
    right: 32px;
}

.popup-bottom .popup-bot-right>div {
    padding: 10px 9.75px;
}