.text-left {
    text-align: left;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center;
}

.m-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111;
    opacity: .5;
    z-index: 1002;
}

:root {
    --primary-color: #019160;
}